@tailwind base;
@tailwind components;
@tailwind utilities;
































/* 
@layer base {
   :root {
      --color-type-normal: 168 168 122 ;
      --color-type-fire: 238 129 48 ;
      --color-type-water: 99 144 240 ;
      --color-type-electric: 247 208 44 ;
      --color-type-grass: 122 199 76 ;
      --color-type-ice: 150 217 214 ;
      --color-type-fighting: 194 46 40 ;
      --color-type-poison: 163 62 161 ;
      --color-type-ground: 226 191 101 ;
      --color-type-flying: 169 143 243 ;
      --color-type-psychic: 249 85 135;
      --color-type-bug: 166 185 26 ;
      --color-type-rock: 182 161 54 ;
      --color-type-ghost: 115 87 151 ;
      --color-type-dragon: 111 53 252 ;
      --color-type-dark: 112 87 70 ;
      --color-type-steel: 183 183 206 ;
      --color-type-fairy: 214 133 173 ;
   }
} 
      */